

@media only screen and (min-width: 700px){
.class_main_container {
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('./log1.jpg');
  width: 100%; 
  padding-top: 5%;
  padding-bottom: 10%;
}

.class_login_box {
  display: grid;
  grid-auto-columns: 1fr;
  border: 1px solid whitesmoke;
  background: rgba(86, 117, 232, 0.3);
  margin:0 auto;
  height: 55vmin;
  color: whitesmoke;
  text-align: center;
  width:260px;
  padding :2%;

}
.class_element{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  font-size: 22px;
  color: white;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
background-color:  rgba(86, 117, 232, 0);
  /* border-radius: 4px; */
  box-sizing: border-box;
  height: 55px;
}
.class_button{
  width: 84%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.class_button:hover{
  background-color: #16841A;
}
}
@media only screen and (max-width: 700px){
  .class_main_container {
    height: 100vmin;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('./loginBg.jpg');
    width: 100%; 
    padding-top: 5%;
    padding-bottom: 10%;
  }
  
  .class_login_box {
    display: grid;
    grid-auto-columns: 1fr;
    border: 1px solid whitesmoke;
    background: rgba(86, 117, 232, 0.7);
    margin:0 auto;
    height: 100vmin;
    color: whitesmoke;
    text-align: center;
    width:260px;
    padding :2%;
  
  }
  .class_element{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 55px;
  }
  .class_button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .class_button:hover{
    background-color: #45a049;
  }
}