@media only screen and (min-width: 600px) {
  .img_container {
    float: left;
    padding: 10%;
    padding-right: 5%;
    height: 250px;
  }
  .title_class {
    font-size: 48px;
  }
  .details_container {
    float: center;
    padding: 5%;
    padding-top: 8%;
    text-align: left;
  }

  .class_imgPoster {
    height: 100%;
    width: 100%;
    border: 2px solid grey;
  }
  .class_icon_container {
    width: 53%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3%;
  }
  .icon_lbl {
    font-size: 32px;
  }
  .main_container {
    height: 100%;
  }
  .MovieDetailsMainContainer {
    height: 500px;
    padding-bottom: 3%;
  }


  
  .scrolling-wrapper {
    width: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    white-space: nowrap;
    position: center;
    margin: 3%;
    margin-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
  }
  .scrolling-wrapper .cardSimiler {
    width: 95%;
    height: 320px;
    min-width: 140px;
    border: 1px solid lightgrey;
    text-decoration: none;
    margin-bottom: 15%;
  }
  .cardSimiler:hover {
    border: 1px solid gray;
    position: relative;
  }
  .class_mediaDetails {
    height: 320px;
    outline: none;
    text-decoration: none;
    color: orangered;
  }
  
  .class_ImgDetails {
    width: 100%;
    height: 320px;
  }
  .action_containerDetails {
    visibility: hidden;
    background: #6a1261;
  }
  .Details_containerDetails {
    visibility: hidden;
    background: rgb(0, 0, 0);
  }
  .cardSimiler:hover .action_containerDetails {
    background: #6a1261;
    visibility: visible;
    height: 40px;
    padding: 3%;
    padding-left: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
  }
  
  .cardSimiler:hover .Details_containerDetails {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    height: 270px;
    text-align: center;
    justify-content: center;
    align-content: center;
   
     width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    font-weight: bold;
  }
}
@media only screen and (max-width: 600px) {
 
  .img_container {
    padding: 10%;
    padding-right: 5%;
    height: 250px;
  }
  .title_class {
    font-size: 32px;
  }
  .details_container {
    padding: 10%;
    padding-left: 15%;
    padding-top: 8%;
    text-align: left;
  }

  .class_imgPoster {
    height: 100%;
    width: 60%;
    border: 2px solid grey;
  }
  .class_icon_container {
    width: 80%;
    display: grid;
    grid-template-columns:1fr;
    padding-top: 5%;
    grid-gap: 10%;
  }
  .icon_lbl {
    font-size: 32px;
  }
  .main_container {
    height: 100%;
  }
  .MovieDetailsMainContainer {
    height: 730px;
    padding-bottom: 3%;
  }
  .scrolling-wrapper {
    width: 95%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr ;
    white-space: nowrap;
    position: center;
    margin: 4%;
    margin-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
  }
  .scrolling-wrapper .card {
    width: 75%;
    height: 235px;
    min-width: 130px;
    border: 1px solid lightgrey;
    text-decoration: none;
    margin-bottom: 15%;
  }
  .card:hover {
    border: 1px solid gray;
    position: relative;
  }
  .class_media {
    height: 265px;
    outline: none;
    text-decoration: none;
    color: orangered;
  }

  .class_Img {
    width: 100%;
    height: 235px;
  }
  .action_container {
    visibility: hidden;
    background: #6a1261;
  }
  .Details_container {
    visibility: hidden;
    background: rgb(0, 0, 0);
  }
  .card:hover .action_container {
    background: #6a1261;
    visibility: visible;
    height: 28px;
    padding: 3%;
    padding-left: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
  }

  .card:hover .Details_container {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    height: 230px;
    text-align: center;
    justify-content: center;
    align-content: center;
   
     width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    font-weight: bold;
  }
}
