@media only screen and (min-width: 500px) {
  .listContiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    background-color: #081118;
    color: white;
    margin: 5%;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 0%;
    min-width: 900px;
    height: 100%;
  }
  .emptyContainer {
    min-height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
  }
  .class_cardList {
    width: 85%;
    height: 342px;
    min-width: 150px;
    border: 1px solid lightgrey;
    text-decoration: none;
    margin-bottom: 15%;
  }
  .class_cardList:hover {
    border: 1px solid gray;
    position: relative;
  }
  .class_media {
    height: 342px;
    outline: none;
    text-decoration: none;
    color: orangered;
  }

  .img_class {
    width: 100%;
    height: 342px;
  }
  .class_cardList:hover .img_class {
    height: 286px;
  }
  .class_unlike {
    color: green;
  }
  .class_like {
    color: red;
  }
  .class_watchlater {
    color: #41ff41;
  }
  .class_play {
    color: #081118;
  }
  .action_container {
    visibility: hidden;
    background: #6a1261;
  }
  .Details_container {
    visibility: hidden;
    background: rgb(0, 0, 0);
  }
  .class_cardList:hover .action_container {
    background: #6a1261;
    visibility: visible;
    height: 40px;
    padding: 3%;
    padding-left: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
  }

  .class_cardList:hover .Details_container {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    height: 320px;
    text-align: center;
    justify-content: center;
    align-content: center;
   
     width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    font-weight: bold;
  }
}
@media only screen and (max-width: 500px) {
  .listContiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    background-color: #081118;
    color: white;
    padding-top: 30%;
    margin-left: 10%;
    margin-bottom: 0%;
    height: 100%;
  }
  .class_card {
    width: 80%;
    height: 190px;
    min-width: 115px;
    border: 1px solid gray;
    color: white;
    text-decoration: none;
    margin-bottom: 15%;
  }
  .class_card:hover {
    color: white;
    text-decoration: none;
  }
  .class_card:hover .class_media {
    background-color: rgb(31, 28, 40);
  }
  .class_media {
    outline: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;

  }

  .img_class {
    width: 100%;
    height: 190px;
    z-index: 0;
  }
  .class_card:hover .img_class {
    width: 100%;
    height: 190px;
    z-index: 0;
  }
  .class_unlike {
    color: gray;
  }
  .class_like {
    color: red;
  }
  .class_watchlater {
    color: green;
  }
  .class_play {
    color: #081118;
  }
  .action_container {
    visibility: hidden;
    background: #6a1261;
  }
  .Details_container {
    visibility: hidden;
  }
  .class_card:hover .action_container {
    background: #6a1261;
    visibility: visible;
    z-index: 2;
    height: 30px;
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .class_card:hover .Details_container {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    height: 160px;
    text-align: center;
    justify-content: center;
    align-content: center;
     width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    font-weight: bold;
  }
}
